@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@import "./assets/common/reset";
@import "./assets/common/variables";
@import "./assets/common/mixins";

:root {
  --container-width: 1840px;
}

body {
  font-family: 'Lato', sans-serif;
  color: $neutral-950;
  overflow-x: hidden;
  overflow-y: scroll;
  background: linear-gradient(119.26deg, #3f50c4 14.41%, #1c2969 89.03%);
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);
  width: 100%;
  padding: rem(40px);
}
