@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@import "assets/styles/common/reset";
@import "assets/styles/common/variables";
@import "assets/styles/common/mixins";
@import "assets/styles/components/button";

:root {
  --container-width: 1840px;
}

body {
  font-family: 'Lato', sans-serif;
  color: $neutral-950;
  overflow-x: hidden;
  overflow-y: scroll;
  background: linear-gradient(119.26deg, #3f50c4 14.41%, #1c2969 89.03%);
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);
  width: 100%;
  padding: rem(40px);

  @include tabletsAndLower {
    padding: rem(20px);
  }
}

.click-target-helper {
  position: relative;

  &::after {
    --click-target-minimum: 44px;
    --inset-by: min(
      0px,
      calc((100% - var(--click-target-minimum)) / 2)
    );

    content: "";
    position: absolute;
    top: var(--inset-by);
    left: var(--inset-by);
    right: var(--inset-by);
    bottom: var(--inset-by);
  }
}
